<div class="row">
  <div class="six columns">
    <h1><%= t :update_account %></h1>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class => "nice"}) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email %>
          <br/>
          <%= f.email_field :email, :class => "oversize input-text" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <br/>
          <%= f.password_field :password, :class => "oversize input-text" %>
        </div>

        <div class="field">
          <%= f.label t :password_confirmation %>
          <br/>
          <%= f.password_field :password_confirmation, :class => "oversize input-text" %>
        </div>

        <div class="field">
          <%= f.label t :current_password %>
          <br/>
          <%= f.password_field :current_password, :class => "oversize input-text" %>
        </div>

        <div class="actions">
          <input name="commit" type="submit" value="<%= t :update %>" class="nice radius white button">
        </div>
    <% end %>
    <h3><%= t :cancel_account %></h3>
    <p><%= link_to (t :cancel_account), registration_path(resource_name), :data => {:confirm => (t :confirm)}, :method => :delete %></p>
  </div>
  <div class="six columns">
    <h1><%= t :statistics %></h1>
    <p><%= t :all_links_count %> <%= current_user.count_links false %></p>
    <p><%= t :all_private_links_count %> <%= current_user.count_links true  %></p>
    <p><%= t :percent_of_system_links%> <%= current_user.user_links_percent  %>%</p>
  </div>
</div>
