<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render 'wombat_mailer/header' %>
    <p><%= (t :email_change_psw_text_1)%></p>
    <p>
      <b> <%= (t :email_change_psw_text_2)%></b>
      <br/>
      <%= edit_user_password_url(@user, :token => @user.confirmation_token.html_safe) %></p>
    <p><%= (t :email_change_psw_text_3)%></p>
    <%= render 'wombat_mailer/footer' %>
  </body>
</html>