<% if @user.errors.any? %>
<div class="alert-box error">
  <h4><%= t :common_error_message%></h4>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= form.label :email %>
  <br/>
  <%= form.text_field :email, :type => "email", :class => "oversize input-text" %>
</div>
<div class="field">
  <%= form.label :password %>
  <br/>
  <%= form.password_field :password, :class => "oversize input-text" %>
</div>
<div class="actions">
  <input name="commit" type="submit" value="<%= t :sign_up %>" class="nice radius white button">
</div>
