<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= t :common_error_message%></h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= form.label :email %>
  <br/>
  <%= form.text_field :email, :type => "email" %>
</div>
<div class="field">
  <%= form.label :password %>
  <br/>
  <%= form.password_field :password %>
</div>
<div class="actions">
  <%= form.submit t :sign_up %>
</div>
