<div class="row">
  <div class="six columns">
    <h1><%= t :reset_password_title %></h1>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => "nice"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="field"><%= f.label :email %>
          <br/>
          <%= f.email_field :email, :class => "oversize input-text" %></div>

        <div class="actions">
          <input name="commit" type="submit" value="<%= t :reset_password %>" class="nice radius white button">
        </div>
    <% end %>

    <div class="devise_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
