<%= form_for(@link,:url => create_link_path, :html => { :class => "nice"}) do |f| %>
<% if signed_in? %>
<%= hidden_field_tag 'link[user_id]', current_user.id %>
<% end %>
<% if @link.errors.any? %>
<div class="alert-box error">
  <h4><%= t :common_error_message%></h4>
  <ul>
    <% @link.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :email, :class =>'has-tip', :title => (t :link_email_tip) %>*
  <br />
  <%= f.text_field :email, :size => "34", :class => "oversize input-text", :value => signed_in? ? current_user.email : "" %>
</div>
<div class="field">
  <%= f.label :link, :class =>'has-tip', :title => (t :link_link_tip) %>*
  <br />
  <%= f.text_area :link, :size => "35x2", :style => 'max-width: 255px; width: 255px;' %>
</div>
<div class="field">
  <%= f.label :title, :class =>'has-tip', :title => (t :link_title_tip) %>
  <br />
  <%= f.text_field :title, :size => "36", :class => "oversize input-text" %>
</div>
<div class="field">
  <%= f.label :description, :class =>'has-tip', :title => (t :link_description_tip) %>
  <br />
  <%= f.text_area :description, :size => "35x3", :style => 'max-width: 255px;' %>
</div>
<div class="field">
  <%= f.label :is_private, :class =>'has-tip', :title => (t :link_private_tip) %>
  <%= f.check_box :is_private, :disabled => !signed_in? %>
</div>
<div class="form_required_tx">
  <%= t :required_fields_tx%>
</div>
<div class="actions">
  <input name="commit" type="submit" value="<%= t :send_link %>" class="nice radius white button">
</div>
<% end %>