<%= form_for(@link) do |f| %>
<% if @link.errors.any? %>
<div id="error_explanation">
  <h2><%= t :common_error_message%></h2>
  <ul>
    <% @link.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :email %>*
  <br />
  <%= f.text_field :email, :size => "36" %>
</div>
<div class="field">
  <%= f.label :link %>*
  <br />
  <%= f.text_area :link, :size => "35x4", :style => 'max-width: 295px;' %>
</div>
<div class="field">
  <%= f.label :title %>
  <br />
  <%= f.text_field :title, :size => "36"  %>
</div>
<div class="field">
  <%= f.label :description %>
  <br />
 <%= f.text_area :description, :size => "35x4", :style => 'max-width: 295px;' %>
</div>
<div class="form_required_tx">
	<%= t :required_fields_tx%>
</div>
<div class="actions">
  <%= f.submit t :send_link %>
</div>
<% end %> 