<%= form_tag request.env['PATH_INFO'], :class => "nice" do -%>
<dl class="nice contained tabs">
  <dd>
    <a href="#nice1" class="active"><%= 'Text search'%></a>
  </dd>
  <dd>
    <a href="#nice2"><%= 'Date search'%></a>
  </dd>
</dl>

<ul class="nice tabs-content contained">
  <li class="active" id="nice1Tab">
    <%= text_field_tag "search", '', :class =>'input-text', :placeholder => (t :search_text) %>
    <input name="commit" type="submit" value="<%= t :search %>" class="inline small white button radius">
  </li>
  <li id="nice2Tab">
<%= date_select('date_from', '', :order => [:day, :month, :year], :default => 7.days.ago, :use_month_numbers => true)%>
<%= date_select('date_to', '', :order => [:day, :month, :year], :use_month_numbers => true)%>
    <input name="commit" type="submit" value="<%= t :search %>" class="inline small white button radius">
  </li>
</ul>
<% end -%>