<div class="row twelve columns">
  <div class="row twelve columns">
    <div class="row six columns" id="title_block">
      <% if signed_in? %>
          <% if (!@all) %>
              <h1><%= t :my_links %></h1>
              <%= link_to (t :all_links), all_links_path %>
          <% else %>
              <h1><%= t :all_links %></h1>
              <%= link_to (t :my_links), links_path %>
          <% end %>
      <% else %>
          <h1><%= t :all_links %></h1>
          <h5><%= raw t :index_auth_message, :sign_in_link => (link_to (t :sign_in_to), new_user_session_path) %></h5>
      <% end %>

      <% if (!@search_params.blank?) %>
      <span id="search-results">
        <p>Результаты поиска "<%= @search_params %>"</p>
      </span>
      <% end %>
    </div>
    <div class="row six columns" id="search">
      <%= render 'search' %>
    </div>
  </div>
  <% @links.each do |link| %>
      <p>
        <b><%= ' #'+ link.id.to_s %>:</b> <%= link_to(link.link, link.link) %>
      </p>

      <% if link.is_private %>
          <p>
            <b><%= (t :is_private_show) %></b>
          </p>
      <% end %>

      <p>
        <b><%= (t :title) %>:</b> <%= link.title %>
      </p>

      <p>
        <b><%= (t :description) %>:</b> <%= link.description %>
      </p>
      <p>
        <b><%= (t :created_at) %>:</b> <%= link.created_at.strftime("%d/%m/%Y") %>
      </p>

      <div class="link_controls">
        <% if can? :show, Link %>
            <%= link_to (t :show), link %>
        <% end %>

        <% if can? :manage, Link %>
            | <%= link_to (t :edit), edit_link_path(link) %>
            | <%= link_to (t :destroy), link, :confirm => (t :confirm), :method => :delete %>
        <% end %>
      </div>
      <hr>
  <% end %>
  <% if (@links.count == 0) %>
      <%= t :no_links %>
  <% end %>
</div>
<div class="row twelve columns">
  <div id="pagination">
    <%= will_paginate @links %>
  </div>

  <% if can? :create, Link %>
      <div>
        <%= link_to (t :new_link), new_link_path, :class => "nice radius white button" %>
      </div>
  <% end %>
</div>
