<div class="row">
  <div class="six columns" id='link-detail'>
    <h1><%= (t :w_link) + @link.id.to_s %></h1>
    <% if @link.is_private%>
        <p id="is_private">
          <b><%= (t :is_private_show)%></b>
        </p>
    <% end %>
    <% if(!notice.to_s.blank?)%>
    <div class="alert-box success">
      <%= notice %>
    </div>
    <% end %>
    <p>
      <b>URL:</b> <%= link_to(@link.link, @link.link) %>
    </p>
    <p>
      <b><%= (t :title)%>:</b> <%= @link.title %>
    </p>
    <p>
      <b><%= (t :description)%>:</b> <%= @link.description %>
    </p>
    <% if user_signed_in? && (@link.user_link? current_user) %>
        <p>
          <b><%= (t :email) %>:</b> <%= @link.email %>
        </p>
    <% end %>

    <%= link_to (t :new_link), root_path, :class => "nice radius white small button" %>
    <% if signed_in? %>
    <%= link_to (t :my_links), links_path, :class => "nice radius white small button" %>
    <% else %>
    <%= link_to (t :all_links), all_links_path, :class => "nice radius white small button" %>
    <% end %>
  </div>
  <div class="six columns" id="twitter">
    <%= render 'twee_feed' %>
  </div>
</div>