<div class="row">
  <div class="six columns">
    <h1><%= t :reset_password_title%></h1>
    <p>
      <%= t :new_password_tx %>
    </p>
    <%= form_for :password, :url => passwords_path, :html => { :class => "nice"} do |form| %>
    <div class="field">
      <%= form.label :email %>
      <br/>
      <%= form.text_field :email, :type => "email2", :class => "oversize input-text" %>
    </div>
    <div class="actions">
      <input name="commit" type="submit" value="<%= t :reset_password %>" class="nice radius white button">
    </div>
    <% end %>
  </div>
</div>
