<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= render :partial => 'wombat_mailer/header' %>
    <p>
      <b><%= (t :email_new_link_text)%></b>
    </p>
    <p>
      <b>URL:</b> <%= link_to(@link.link, @link.link) %>
      <br/>
      <% if(!@link.title.empty?)%>
      <b><%= t :title%>:</b> <%= raw @link.title %>
      <br/>
      <% end %>
      <% if(!@link.description.empty?)%>
      <b><%= t :description%>:</b> <%=h @link.description %>
    </p>
    <% end%>
    <br/>
    <%= render :partial =>'wombat_mailer/footer', :locals => {:link_hash => @link.link_hash.to_s} %>
      </body>
</html>