<h1>Listing locks</h1>

<table>
  <tr>
    <th>Link</th>
    <th>User</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locks.each do |lock| %>
  <tr>
    <td><%= lock.link_id %></td>
    <td><%= lock.user_id %></td>
    <td><%= lock.email %></td>
    <td><%= link_to 'Show', lock %></td>
    <td><%= link_to 'Edit', edit_lock_path(lock) %></td>
    <td><%= link_to 'Destroy', lock, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lock', new_lock_path %>
