<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @lock.link_id %>
</p>

<p>
  <b>User:</b>
  <%= @lock.user_id %>
</p>

<p>
  <b>Email:</b>
  <%= @lock.email %>
</p>


<%= link_to 'Edit', edit_lock_path(@lock) %> |
<%= link_to 'Back', locks_path %>
