<!doctype html>
<head>
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Wombat Links" %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :highcharts %>
  <script type="text/javascript">
	var switchTo5x = true;
  </script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
  <%= csrf_meta_tags %>
  <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.gif" type="image/x-icon"/>
</head>
<body>
  <!--start content-->
  <div class="row display">
    <div id="container" class="twelve columns centered" >
      <!--start linker block-->
      <div id="linker-top" class="twelve columns centered">
        <!--start header-->
        <header>
          <!--start menu-->
          <div id="login-menu" class="six columns">
            <% if signed_in? %>
            <%= t :welcome %>
            <br/>
            <%= t :auth_tx%><span><%= current_user.email%></span>
            (<%= link_to (t :log_out), destroy_user_session_path, :method => :delete%>)
            <% else %>
            <%= t :welcome %>
            <br/>
            <span><%= active_link_to (t :sign_in), new_user_session_path, :active => :exclusive%> / <%= active_link_to (t :sign_up), new_user_registration_path, :active => :exclusive %></span>
            <% end %>
          </div>
          <nav>
            <div class="panel">
              <dl class="sub-nav">
                <dd class="active2">
                  <%= active_link_to (t :home_page), root_path, :active => [['links'], ['new','create']] %>
                </dd>
                <% if user_signed_in? %>
                <dd>
                  <%= active_link_to (t :my_links), links_path, :active => [['links'], ['index']] %>
                </dd>
                <dd>
                  <%= active_link_to (t :profile), edit_user_registration_path, :active => [['devise/registrations'], ['edit', 'update']] %>
                </dd>
                <% else%>
                <dd>
                  <%= active_link_to (t :all_links), all_links_path, :active => [['links'], ['index']] %>
                </dd>
                <dd>
                  <a href="#">О проекте</a>
                </dd>
                <% end %>
              </dl>
            </div>
          </nav>
          <!--end menu-->
          <!--end header-->
        </header>
        <div id="logo">
          <a href="<%= root_path %>"><%= image_tag "logo.png" %></a>
        </div>
        <div id="page-top">
          <% if(@tweets)%>
          <span id='twitter'></span>
          <% end %>
        </div>
      </div>
      <section id='linker'>
        <% flash.each do |key, value| -%>
        <div class="alert-box <%= key %>" id="flash">
          <%= value %>
        </div>
        <% end %>
        <%= yield %>
      </section>
      <div style="clear: both" ></div>
      <div id="linker-bottom" class="twelve columns centered"></div>
      <!--end linker-->
      <!--start holder-->
      <div class="row display">
        <div class="twelve columns centered">
          <div class="nine columns">
            <section class="group1">
              <h3>Services</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
                Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
              </p>
              <article class="holder_gallery">
                <h2>Lorem ipsum</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
                  Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst.
                </p>
                <span class="readmore"><a href="#">Read more..</a></span>
              </article>
            </section>
          </div>
          <div class="three columns">
            <aside class="group2">
              <h3>Latest news</h3>
              <article class="holder_news">
                <h4>Lorem ipsum <span>10.09.2011</span></h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu.<span class="readmore"> <a href="#">Read more..</a></span>
                </p>
              </article>
              <article class="holder_news">
                <h4>Lorem ipsum <span>20.09.2011</span></h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. <span class="readmore"><a href="#">Read more..</a></span>
                </p>
              </article>
              <article class="holder_news">
                <h4>Lorem ipsum <span>27.09.2011</span></h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. <span class="readmore"><a href="#">Read more..</a></span>
                </p>
              </article>
            </aside>
            <div></div>
          </div>
          <!--end holder-->
        </div>
      </div>
    </div>
  </div>
  <!--end content-->
  <!--start footer-->
  <footer>
    <div class="row display">
      <div class="twelve columns centered">
        <% t = Time.now%>
        <div class="six columns offset-by-one">
          © <%= t.strftime('%Y') %> Wombat Links
        </div>
        <div class="five columns">
          <a href="http://www.landrina.ru">Landrina Project</a>
        </div>
      </div>
    </div>
  </footer>
  <!--end footer-->
  <!-- social buttons-->
  <script>
	var options = {
		"publisher" : "97ab5a0d-2e38-4fe6-a158-27955a8b251d",
		"position" : "right",
		"ad" : {
			"visible" : false,
			"openDelay" : 5,
			"closeDelay" : 0
		},
		"chicklets" : {
			"items" : ["facebook", "vkontakte", "twitter", "googleplus", "linkedin", "digg", "sharethis"]
		}
	};
	var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
  </script>
  <!-- end of social-->
</body>
</html>